
{% set pargraph_type = paragraph.field_type.value %}

{%
  set classes = [
    'paragraph',
    pargraph_type,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="inner">
        {{ content.contextual_links }}
        {{ content.field_media }}
        <div class="text">
          <h3>{{ paragraph.field_title.value }}</h3>
          {{ content.field_text }}
          {{ content.field_link }}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
